<html>
    <body>
        <form action="/Predict" method="POST">
            PassengerId	:<input type="text" name = 'PassengerId'><br>
            Survived	:<input type="text" name = 'Survived'><br>
            Pclass	:<input type="text" name = 'Pclass'><br>
            Name	:<input type="text" name = 'Name'><br>
            Sex	:<input type="text" name = 'Sex'><br>
            Age	:<input type="text" name = 'Age'><br>
            SibSp:	<input type="text" name = 'SibSp'><br>
            Parch	:<input type="text" name = 'Parch'><br>
            Ticket:	<input type="text" name = 'Ticket'><br>
            Fare	:<input type="text" name = 'Fare'><br>
            Embarked:<input type="text" name = 'Embarked'><br>
            <input type="submit" name="Predict"><br>
            outcome---------------------------:{{result}}<br>

        </form>
    </body>
</html>